@use '../abstracts/variables' as var;

.page-list {
    padding: var.$spacing-large;
    .articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: var.$spacing-medium;
    }
}