@use 'variables' as var;
@mixin mobile {
  @media (max-width: var.$mobile-width) {
    @content;
  }
}

@mixin link-hover {
  text-decoration: none;
  color: var.$secondary-color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}