// Colors
$primary-color: #3498db;
$secondary-color: #e74c3c;
$text-color: #333;
$background-color: #f4f4f4;
$white-color: #fff;
$gray-color: #777;

// Typography
$main-font: sans-serif;
$font-size-base: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-p: 1.1rem;
$line-height-base: 1.6;

// Spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

//breakpoints
$mobile-width: 768px;